<!DOCTYPE html>
<html>
  <head>
    <title>Quan ly sinh vien</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>Quan ly sinh vien</h1> 
      <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal">
        Create Student
      </button>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">avatar</th>
            <th scope="col">Ma sinh vien</th>
            <th scope="col">Ten sinh vien</th>
            <th scope="col">Nam sinh</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i< students.length; i++) { %>
            <tr style="">
              <td><%=i %></td>
              <td><%if(students[i].avatar) {%><img style="width: 80px; height: 80px; border-radius: 100px;" class="img-thumbnail" src="<%= students[i].avatar%>" alt=""><%}%></td>
              <td><%=students[i].student_id %></td>
              <td><%=students[i].name %></td>
              <td><%=students[i].birthdate%></td>
              <td>
                <a class="btn btn-danger mr-1" href="/students/delete/<%=students[i].student_id%>">Delete</a>
                <a class="btn btn-success" href="#" >Update</a</td>
            </tr>
          <%}%>
        </tbody>
      </table>
        <!-- Modal create student -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/students/add" enctype="multipart/form-data" method="POST">
                  <div class="form-group">
                    <label for="">StudentID</label>
                    <input type="text" name="studentId" class="form-control" aria-describedby="">
                  </div>
                  <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" name="name" class="form-control"  aria-describedby="">
                  </div>
                  <div class="form-group">
                    <label for="">BirthDate</label>
                    <input type="text" name="birthdate" class="form-control"  aria-describedby="">
                  </div>
                  <div class="form-group">
                    <label for="">Avatar</label>
                    <input type="file" name="avatar" class="form-control-file" id="exampleFormControlFile1">  
                  </div>
                  <button type="submit" class="btn btn-primary">Add</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>